//
//  Availability.xcconfig
//  iina
//
//  Created by Saagar Jha on 11/12/22.
//  Copyright © 2022 lhc. All rights reserved.
//

// Compile-time availability checks for Swift, similar to those for Objective-C.
// Use these for code that requires newer SDKs that old Xcodes can't recognize.

AVAILABLE_101100 = OS_X_10_11_AVAILABLE MACOS_10_11_AVAILABLE
AVAILABLE_101200 = $(AVAILABLE_101100) MACOS_10_12_AVAILABLE
AVAILABLE_101300 = $(AVAILABLE_101200) MACOS_10_13_AVAILABLE
AVAILABLE_101400 = $(AVAILABLE_101300) MACOS_10_14_AVAILABLE
AVAILABLE_101500 = $(AVAILABLE_101400) MACOS_10_15_AVAILABLE
AVAILABLE_110000 = $(AVAILABLE_101500) MACOS_11_AVAILABLE
AVAILABLE_120000 = $(AVAILABLE_110000) MACOS_12_AVAILABLE
AVAILABLE_130000 = $(AVAILABLE_120000) MACOS_13_AVAILABLE
AVAILABLE_140000 = $(AVAILABLE_130000) MACOS_14_AVAILABLE
AVAILABLE_150000 = $(AVAILABLE_140000) MACOS_15_AVAILABLE

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $AVAILABLE_$(SDK_VERSION_MAJOR)
