//
//  Deployment.xcconfig
//  iina
//
//  Created by Saagar Jha on 11/5/22.
//  Copyright © 2022 lhc. All rights reserved.
//

CODE_SIGN_IDENTITY = -
CURRENT_PROJECT_VERSION = 160
DEVELOPMENT_TEAM = 67CQ77V27R
MACOSX_DEPLOYMENT_TARGET = 10.15
MACOSX_DEPLOYMENT_TARGET[arch=arm64] = 12
MARKETING_VERSION = 1.4.1
