//
//  iina.xcconfig
//  iina
//
//  Created by Saagar Jha on 11/5/22.
//  Copyright © 2022 lhc. All rights reserved.
//

CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CODE_SIGN_ENTITLEMENTS = $(TARGET_NAME)/$(PRODUCT_NAME).entitlements
COMBINE_HIDPI_IMAGES = YES
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks
GENERATE_INFOPLIST_FILE = YES
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/deps/include
INFOPLIST_FILE = $(TARGET_NAME)/Info.plist
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -traditional
INFOPLIST_PREFIX_HEADER = $(DERIVED_FILE_DIR)/Info.h
INFOPLIST_PREPROCESS = YES
INFOPLIST_KEY_NSPrincipalClass = NSApplication
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
LIBRARY_SEARCH_PATHS = $(inherited) $(SRCROOT)/deps/lib
// The following libraries are not needed for arm64, so they are not universal libraries. To avoid
// triggering build warnings they are not included in the Link Binary With Libraries phase. Instead
// they are added here where we can add them only for the x86_64 build.
OTHER_LDFLAGS[arch=x86_64] = $(inherited) -l gcc_s.1.1 -l stdc++.6
PRODUCT_BUNDLE_IDENTIFIER = com.colliderli.$(TARGET_NAME)
PRODUCT_NAME = IINA
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_OBJC_BRIDGING_HEADER = $(TARGET_NAME)/$(TARGET_NAME)-Bridging-Header.h
