<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFSafariExtensionBundleIdentifiersToUninstall</key>
	<array>
		<string>com.colliderli.openiniina</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Open in IINA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>open-in-iina.js</string>
			</dict>
		</array>
		<key>SFSafariContextMenu</key>
		<array>
			<dict>
				<key>Text</key>
				<string>Open Current Page in IINA</string>
				<key>Command</key>
				<string>OpenInIINA</string>
			</dict>
			<dict>
				<key>Text</key>
				<string>Open Link in IINA</string>
				<key>Command</key>
				<string>OpenLinkInIINA</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Command</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>ToolbarItemIcon.pdf</string>
			<key>Label</key>
			<string>Open in IINA Button</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 lhc. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>Open videos in IINA.</string>
</dict>
</plist>
