<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
				<string>mka</string>
				<string>mk3d</string>
				<string>mks</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_mkv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Matroska media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rm</string>
				<string>rmvb</string>
				<string>ra</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_rm.icns</string>
			<key>CFBundleTypeName</key>
			<string>Real Media file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_asf.icns</string>
			<key>CFBundleTypeName</key>
			<string>Advanced Systems Format (ASF) media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_aac.icns</string>
			<key>CFBundleTypeName</key>
			<string>Advanced Audio Coding (AAC) media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
				<string>f4v</string>
				<string>f4p</string>
				<string>f4a</string>
				<string>f4b</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_flv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Flash Video file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_webm.icns</string>
			<key>CFBundleTypeName</key>
			<string>WebM media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>3g2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_3gp.icns</string>
			<key>CFBundleTypeName</key>
			<string>3GPP media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_mp3.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG Layer III (MP3) audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
				<string>oga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_ogg.icns</string>
			<key>CFBundleTypeName</key>
			<string>OGG audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
				<string>mts</string>
				<string>m2ts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_ts.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG transport stream (TS) media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_avi.icns</string>
			<key>CFBundleTypeName</key>
			<string>AVI media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_wav.icns</string>
			<key>CFBundleTypeName</key>
			<string>Waveform Audio File (WAV) audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
				<string>m4b</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_m4a.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_wmv.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Video/Audio (WMV/WMA) media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qt</string>
				<string>mov</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_qt.icns</string>
			<key>CFBundleTypeName</key>
			<string>QuickTime media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_flac.icns</string>
			<key>CFBundleTypeName</key>
			<string>Free Lossless Audio Codec (FLAC) audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>m4v</string>
				<string>m4b</string>
				<string>mpeg</string>
				<string>mpg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_mp4.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
				<string>divx</string>
				<string>vob</string>
				<string>amv</string>
				<string>mxf</string>
				<string>mcf</string>
				<string>swf</string>
				<string>xvid</string>
				<string>yuv</string>
				<string>dv</string>
				<string>wv</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_other_v.icns</string>
			<key>CFBundleTypeName</key>
			<string>Video file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aa3</string>
				<string>ac3</string>
				<string>acm</string>
				<string>aif</string>
				<string>aiff</string>
				<string>ape</string>
				<string>caf</string>
				<string>mid</string>
				<string>midi</string>
				<string>pcm</string>
				<string>vox</string>
				<string>tta</string>
				<string>tak</string>
				<string>opus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_other_a.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u8</string>
				<string>m3u</string>
				<string>pls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_list.icns</string>
			<key>CFBundleTypeName</key>
			<string>Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.15</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>IINA wrapper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iina</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>63</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>vxtrans.link</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Released under GPLv3.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Text Drop</string>
			</dict>
			<key>NSMessage</key>
			<string>droppedText</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.iina.io/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
