<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aa3</string>
				<string>aac</string>
				<string>ac3</string>
				<string>acm</string>
				<string>aif</string>
				<string>aiff</string>
				<string>ape</string>
				<string>caf</string>
				<string>flac</string>
				<string>m3u</string>
				<string>m4a</string>
				<string>m4b</string>
				<string>mid</string>
				<string>midi</string>
				<string>mka</string>
				<string>mp3</string>
				<string>mpa</string>
				<string>ogg</string>
				<string>pcm</string>
				<string>ra</string>
				<string>ram</string>
				<string>wav</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
				<string>3gp</string>
				<string>asf</string>
				<string>asx</string>
				<string>avi</string>
				<string>dat</string>
				<string>divx</string>
				<string>dv</string>
				<string>f4v</string>
				<string>fli</string>
				<string>flv</string>
				<string>m2t</string>
				<string>m2ts</string>
				<string>m4v</string>
				<string>mjp</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpg2</string>
				<string>mpg4</string>
				<string>mts</string>
				<string>mtv</string>
				<string>mxf</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>qt</string>
				<string>qtz</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>rv</string>
				<string>swf</string>
				<string>ts</string>
				<string>tp</string>
				<string>vc1</string>
				<string>vcd</string>
				<string>vfw</string>
				<string>vob</string>
				<string>vro</string>
				<string>webm</string>
				<string>wmv</string>
				<string>xvid</string>
				<string>yuv</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_video.icns</string>
			<key>CFBundleTypeName</key>
			<string>Video Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>utf</string>
				<string>utf8</string>
				<string>srt</string>
				<string>ass</string>
				<string>smi</string>
				<string>ssa</string>
				<string>smil</string>
				<string>jss</string>
				<string>rt</string>
				<string>sub</string>
				<string>idx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_sub.icns</string>
			<key>CFBundleTypeName</key>
			<string>Subtitle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dvdmedia</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_video.icns</string>
			<key>CFBundleTypeName</key>
			<string>DVD Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016, Collider LI. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
